.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  gap: 32px;
}

.selected {
  border-bottom: black 2px solid;
}

.navbar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  color: gray;
  font-size: 18px;
  font-weight: 700;
}
.navbar-item:hover {
  color: #4f46e5;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.dropdown-box {
  display: flex;
  align-items: center;
  background: #f3f4f6;
  border-radius: 8px;
  padding: 6px 16px;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 500;
  gap: 10px;
}
.dropdown-box:hover {
  background: #e0e7ff;
}

.menu-icon {
  margin-left: 8px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .navbar {
    padding: 16px 20px;
  }
  .navbar-left {
    gap: 16px;
  }
  .navbar-right {
    gap: 8px;
  }
}

@media (max-width: 700px) {
  .navbar {
    padding: 10px 8px;
  }
}
